In [9]:
#Working Directory - From which location do I have to pick the file
#Import one inbuilt module os (Operating system) (Os will always be there) 
import os

In [11]:
os.getcwd()
#Get the current working directory

'C:\\Users\\rahul'

In [13]:
os.chdir('C:\\Users\\rahul\\OneDrive\\Desktop')
#Change the directory

In [15]:
os.getcwd()

'C:\\Users\\rahul\\OneDrive\\Desktop'

In [25]:
import pandas as pj
pj.read_csv('C:\\Users\\rahul\\OneDrive\\Desktop\\tips.csv')

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [ ]:
pd.read_excel('Market.xlsx', sheet_name='')